# API Keys
GROQ_API_KEY=

# System Configurations
LOG_LEVEL=INFO
APP_ENV=development

# Path Configurations
DATA_DIR=./data
MODELS_DIR=./models
INDEX_PATH=./models/faiss_index

# RAG Configurations
CHUNK_SIZE=512
CHUNK_OVERLAP=64
EMBEDDING_MODEL=all-MiniLM-L6-v2
RETRIEVAL_K=5
